body{
    background-color: #1A1B1FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#outerCalcFrame{
    justify-content: center;
    align-items: center;
    display: flex;
    width: min(90%, 58rem);
    height: min(90%, 58rem);
}
#calcFrame{
    box-shadow: 0 0.5rem 0 0 black;
    border-radius: 1.5rem;
    display: flex;
    background-color: #27282CFF;
    width: min(25rem);
    height: min(33rem);
    border: solid black 3px;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
}
#upperPart{
    display: flex;
    border-radius: 0.6rem;
    background-color: #2F3034FF;
    border: solid black 3px;
    width: 100%;
    height: 12rem;
    flex-direction: column;
    justify-content: flex-end;
}
#calcName{
    align-self: flex-end;
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #9EA2A1FF;
    border-radius: 0.4rem;
    margin-right: 3rem;
}
#nameUnderline{
    align-self: center;
    height: 0.075rem;
    background-color: #9EA2A1FF;
    width: 95%;
    margin-bottom: 1.6rem;

}
#screen{
    align-self: center;
    border-radius: 0.6rem;
    border: solid black 0.1rem;
    width: 95%;
    height: 60%;
    background-color: #3B4544FF;
    margin-bottom: 0.8rem;
    box-shadow: inset 0 0 0.15rem 0.15rem rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    color: rgb(116, 133, 129);
    font-size: 3rem;
    overflow: hidden;
    white-space: nowrap;
}
#screenUp{
    display: flex;
    justify-content: space-between;
}
#screenNumber{
    font-size: 3rem;
    align-self: flex-end;
}
#screenHistory{
    font-size: 1rem;
}
#rndCounter{
    font-size: 1rem;
}
#lowerPart{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5rem;
    width: 100%;
    height: 17rem;
}
.calcButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    color: #9EA2A1FF;
    font-size: 2rem;
    border: solid black 0.14rem;
    box-shadow: 0 0.15rem 0 0 rgb(28, 28, 28);
    cursor: pointer;
    user-select: none;
}
.calcButton:hover {
  transform: translateY(-2px) scale(1.04);
  box-shadow: 0 0.35rem 0.4rem rgba(0,0,0,0.4);
  background-color: #4a4c55; 
}

.calcButton:active {
  transform: translateY(2px) scale(0.98);
  box-shadow: 0 0.1rem 0 0 #111;
}
#CButton{
    background-color: #784534FF;
}

#modulo{
    font-size: 1.5rem;
    font-style: italic;
}

.calcNumber{
    background-color: rgb(55, 55, 61);
}

#pi{
    background-color: #27282CFF;
}

#equals{
    grid-column: 5;  
    grid-row: 4 / 6;
    background-color: #784534FF;
}
#rounder{
    font-size: 1.5rem;
    font-style: italic;    
}
#percentage{
    background-color: #27282CFF;
}
/* #rounder{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    justify-content: space-between;
    align-items: stretch; */
    /* border: none;
    box-shadow: none; */
/* }
#rounderButtons{
    display: flex;
    padding: 0 0.5rem;
    margin: 0;
    align-content: space-around;
    justify-content: space-between;
    
}
.arrow{
        
        
        font-size: 1rem;
} */
