body{
    background-color: #1A1B1FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#outerCalcFrame{
    justify-content: center;
    align-items: center;
    display: flex;
    width: min(90%, 58rem);
    height: min(90%, 58rem);
}
#calcFrame{
    box-shadow: 0 0.5rem 0 0 black;
    border-radius: 1.5rem;
    display: flex;
    background-color: #27282CFF;
    width: min(35rem);
    height: min(35rem);
    border: solid black 3px;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box
}
#upperPart{
    display: flex;
    border-radius: 0.6rem;
    background-color: #2F3034FF;
    border: solid black 3px;
    width: 100%;
    height: 12rem;
    flex-direction: column;
    justify-content: flex-end;
}
#calcName{
    align-self: flex-end;
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #9EA2A1FF;
    border-radius: 0.4rem;
    margin-right: 3rem;
}
#nameUnderline{
    align-self: center;
    height: 0.1rem;
    background-color: #9EA2A1FF;
    width: 95%;
    margin-bottom: 1.6rem;

}
#screen{
    align-self: center;
    width: 95%;
    height: 60%;
    background-color: #3B4544FF;
    margin-bottom: 0.8rem;
}
#lowerPart{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    height: min(15rem);
}
.calcButton{
    border-radius: 0.4rem;
    border: solid black 3px;

}